<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1 class="text-center"><img src="static/img/LogoGOAT.png" alt="Logo" width="60" height="60"><b>GOAT</b></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text">
            {{#if user}}
                <p><b>Bienvenido, {{user.firstName}} (Rol: {{user.role}})</b></p>
                <div style="display: flex; gap: 10px;">
                <a href="/products"><button class="btn btn-dark">Volver</button></a>
                <form action="/api/sessions/logout" method="get">
                    <button type="submit" class="btn btn-dark">Salir</button>
                </form>

                </div>
            {{else}}
                <p>Usuario no identificado.</p>
                <a href="/login"><button class="btn btn-dark">Login</button></a>
            {{/if}}
      </span>
    </div>
  </div>
</nav>

<div class="container">
        <h2>Subir archivos</h2>
        <br /><br />
        <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
            <input type="file" name="documentImages" multiple>
            <br /><br />
            <button type="submit">Subir documentos de usuario</button>
        </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>

