<style>

    .register-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        color: #333;
        border: 1px solid #bbb;
        background-color: #ccc;
    }
    
    .btn-100 {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>


<div class="register-container">
    <h1 class="text-center"><img src="/static/img/LogoGOAT.png" alt="Logo" width="80" height="80"></h1>
    <h1 class="text-center"><b>GOAT</b></h1>
    <h2><b>Reset Password</b></h2>
    <p>User: {{user.email}}</p>
    <form id="insertPassForm" style="margin-top: 32px;">
        <div class="input-group" style="width: 100%; margin-bottom: 32px;">
            <span class="input-group-text" id="group5"><i class="fa-solid fa-lock"></i></span>
            <input type="password" id="newPassword" name="password" class="form-control" required="required" placeholder="Ingrese su nueva password" autocomplete="password">
        </div>
        <div class="input-group" style="width: 100%; margin-bottom: 32px;">
            <span class="input-group-text" id="group5"><i class="fa-solid fa-lock"></i></span>
            <input type="password" id="confirmPassword" name="password" class="form-control" required="required" placeholder="Repita su nueva password" autocomplete="password">
        </div>
        <button type="submit" class="btn btn-success btn-100">Reset Password</button>
        <div style="margin-top: 24px;">
            Recordaste tu password?: <a class="a2" href="/login">Volver</a>
        </div>
    </form>
</div>

<script type="module">

    insertPassForm.addEventListener('submit', async (evt) => {
        evt.preventDefault();
        var password = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        const email = '{{user.email}}';

        try {
                if (password !== confirmPassword) {
                    alert('Las contraseñas no coinciden. Por favor, intente de nuevo.');
                    return false;
                };
                const process = await fetch(`/api/users/insertNewPass`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ email, password })
                });
                const result = await process.json();
                if (process.ok) {
                    Swal.fire({
                        title: 'Su password fue restaurada con éxito.',
                        text: result.mensaje,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(() => {
                        insertPassForm.reset();
                        window.location.href = '/login';
                    });
                } else {
                    Swal.fire({
                        title: 'Error: La contraseña no puede ser igual a la actual.',
                        text: result.error,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.log('error: ', error)

                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al restaurar la password.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
    });


</script>
