<main class="container">
    <div class="row">


    <div class="productos col">
        <h1>Listado de productos: (En tiempo real) </h1>
        <div>
            <ul class="list-group list-group-flush p-2">
                <li id="listProd" class="list-group-item"></li>
            </ul>
        </div>
    </div>
    <div class="col mt-5 m-2">
        <h3 class="mt-20">Nuevo producto:</h3>

        <form id="productForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Code</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Stock</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                <span class="input-group-text" id="inputGroup-sizing-default">$</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="submit" class="btn btn-success">Cargar</button>
        </form>
    </div>
    </div>
</main>


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>

<script type="module"> 
    const wsServer = 'ws://localhost:8080'
    const socketClient = io(wsServer);
    const listProd = document.getElementById('listProd');

    socketClient.on('newProduct', prodAdd => {
        //console.log(prodAdd);
        listProd.innerHTML += `<br> Id: ${prodAdd.id} | Nombre: ${prodAdd.title} | Precio: $${prodAdd.price}.`;
    });
    
    socketClient.on('cargaProducts', prodRender => {
        listProd.innerHTML = ``
        //console.log(prodRender.prodRender);
        for (let i = 0; i < prodRender.prodRender.length; i++) {
            if(i===0) {
                listProd.innerHTML += `Id: ${prodRender.prodRender[i].id} | Nombre: ${prodRender.prodRender[i].title} | Precio: $${prodRender.prodRender[i].price}.`;
            } else {
                listProd.innerHTML += `<br> Id: ${prodRender.prodRender[i].id} | Nombre: ${prodRender.prodRender[i].title} | Precio: $${prodRender.prodRender[i].price}.`;
            }
        }
    });

    socketClient.on('deleteProduct', prodRender => {
        listProd.innerHTML = ``
        console.log(prodRender);
        for (let i = 0; i < prodRender.length; i++) {
            if(i===0) {
                listProd.innerHTML += `Id: ${prodRender[i].id} | Nombre: ${prodRender[i].title} | Precio: $${prodRender[i].price}.`;
            } else {
                listProd.innerHTML += `<br> Id: ${prodRender[i].id} | Nombre: ${prodRender[i].title} | Precio: $${prodRender[i].price}.`;
            }
        }
    });


</script>